<html>

<head>
    <title>ComboDepot</title>
    <meta property="og:title" content="{{combo.combo}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://broken.link" />
    <meta property="og:description" content="{{combo.combo}}&#10;Video:{{combo.video_link}}" />
    <script id="server-data" type="application/json">
        {{{ rawJson }}}
    </script>
    <script>
        // TODO move this to each react element
        window.combo = JSON.parse(document.getElementById("server-data").text);
    </script>
    {{{htmlHeader}}}
</head>

<body>
    <div id="root"></div>
</body>

</html>