<html>

<head>
    <title>ComboDepot</title>
    <meta property="og:title" content="{{combo}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://broken.link" />
    <meta property="og:description" content="{{combo}}" />

    {{{htmlHeader}}}
</head>

<body>
    <h1>Combo</h1>
    <p>combo: {{combo.combo}}</p>
    <p>damage: {{combo.damage}}</p>
    <p>meter: {{combo.meter}}</p>
    <p>position: {{combo.position}}</p>
    <p>video_link: <a href="{{combo.video_link}}">{{combo.video_link}}</a></p>
    <p>id: {{combo.id}}</p>
</body>

</html>